<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
  <title>新增任务</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content=""/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <!-- bootstrap-css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- //bootstrap-css -->
  <!-- Custom CSS -->
  <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet"/>
  <!-- font CSS -->
  <link href='@/http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
  <!-- font-awesome icons -->
  <link rel="stylesheet" th:href="@{/css/font.css}" type="text/css"/>
  <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <script src="js/jquery2.0.3.min.js"></script>
</head>
<body>
<section id="container">
  <!--header start-->
  <header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">

      <a href="/index" class="logo">
        水务云平台
      </a>
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
      </div>
    </div>
  </header>
  <!--header end-->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse">
      <!-- sidebar menu start-->
      <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-th"></i>
              <span>任务管理</span>
            </a>
            <ul class="sub">
              <li class="active"><a th:href="@{/mission_add}">增加任务</a></li>
              <li ><a th:href="@{/mission_mana}">任务管理</a></li>
            </ul>
          </li>

          <li>
            <a href="/index">
              <i class="fa fa-user"></i>
              <span>返回后台</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="table-agile-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            新增任务
          </div>
          <div class="row w3-res-tb" style="display: flex">

          </div>
          <div class="table-responsive;text-align: center; margin:0 auto;">
            <center>
              <form th:action="@{/add_mission}" method="post" class="form-inline" >
                <div class="form-group">
                  <label for="exampleInputName2">任务名称&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Name" type="text" class="form-control" id="exampleInputName2">
                </div>
                <br><br>
                <div class="form-group">
                  <label>任务区域&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Aerar" type="text" class="form-control">
                </div>
                <br><br>
                <div class="form-group">
                  <label>价格区间&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Price" type="text" class="form-control" id="exampleInputEmail4">
                </div>
                <br><br>
                <div class="form-group">
                  <label>抄收间隔&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Sep" type="text" class="form-control" id="exampleInputEmail5">
                </div>
                <br><br>
                <div class="form-group">
                  <label>定时时间&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Time" type="text" class="form-control" id="exampleInputEmail6">
                </div>
                <br><br>
                <div class="form-group">
                  <label>任务说明&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Explain" type="text" class="form-control" id="exampleInputEmail7">
                </div>
                <br><br>
                <div class="form-group">
                  <label>是否禁用&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                  <input name="M_Able" type="text" class="form-control" id="exampleInputEmail8">
                </div>
                <br><br>
                <button type="submit" class="btn btn-default">提交</button>
              </form>
            </center>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!--main content end-->
</section>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<script>
  const addBtn = document.querySelector('#addBtn');
  // console.log(addBtn)
  addBtn.onclick = function () {
    const addForm = document.querySelector('#addForm')
    if (addForm.style.display == "none") {
      addForm.style.display = "block"
    } else {
      addForm.style.display = "none"
    }


  }

</script>
</body>
</html>
